# Налаштування редакторів коду
.vscode/
.idea/

# Системні файли
.DS_Store
Thumbs.db
desktop.ini

# Тимчасові файли
*.log
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
